@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: rgb(23 23 23);
  border-radius: 9999px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(64 64 64);
  border-radius: 9999px;
}
